<div bsModal #childModal="bs-modal" id="chieldModal1" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-child-name" (onHide)="handler($event)">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">{{modalTitle}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <p style="font-weight: 700; margin-bottom: 0;">{{modalMessage}}</p>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary btn-block" (click)="decline()" style="margin-top: 0 !important;">No</button>
      </div>
    </div>
  </div>
</div>